---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
LineEnding: LF
PackConstructorInitializers: NextLine
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
KeepEmptyLinesAtTheStartOfBlocks: false
AlwaysBreakTemplateDeclarations: true
BreakAfterAttributes: Always
SortIncludes: Never